-i https://pypi.org/simple/
click==8.0.1
flask==1.0.2
importlib-metadata==4.5.0 ; python_version < '3.8'
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
pillow==8.2.0
pytesseract==0.2.6
typing-extensions==3.10.0.0 ; python_version < '3.8'
werkzeug==2.0.1
zipp==3.4.1
