<!DOCTYPE html>
<html>
  <head>
    <title>Upload Image</title>
  </head>
  <body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    
    <h1>Upload new File</h1>
    
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>

    <h1>Result:</h1>
    {% if img_src %}
      <img src="{{ img_src }}">
    {% endif %}
    
    {% if extracted_text %}
      <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
    
    {% else %}
      The extracted text will be displayed here
    {% endif %}
  </body>
</html>
    